<div id="barista-menu" class="container">
    <div class="header clearfix">
      <div class="pull-left">
        <i class="glyphicon glyphicon-user"></i>
        {{::cashbox.user.name}}<br>
        Родник ( Труда 203/3 )
      </div>
      <div class="pull-right">
        <span class="kassa">Касса: {{cashbox.totalCash | currency}}</span>
        <span class="reward">З/П: {{cashbox.payment | currency}}</span>
        <button class="btn btn-lg btn-success" ng-click="cashbox.syncWithBackend()">
          <i class="fa fa-refresh"></i>
        </button>
        <div class="btn btn-lg btn-cappuccino"
             ng-click="cashbox.closeShift()">Закрыть смену</div>
      </div>
    </div>
    <!-- START row-->
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <ul class="nav nav-tabs">
          <li ng-repeat="category in cashbox.categories" ui-sref-active="active">
            <a ui-sref="barista.cashbox.menu({categoryId: category.id})">{{category.name}}</a>
          </li>
        </ul>

        <div class="bordered clearfix" ui-view></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div id="checkout" class="panel panel-success">
          <div class="panel-heading">
            Текущий чек
          <div class="clearfix"></div>
          </div>
          <div class="list-group">
            <div class="list-group-item clearfix"
                 ng-repeat="item in cashbox.receipt.items track by $index">
              <span>{{::item.name}}</span>
              <span ng-if="(item.quantity > 1)"> (x{{item.quantity}})</span>
              <span class="pull-right">
                <button class="btn btn-transparent btn-xs"
                        ng-click="cashbox.removeItem($index)">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-lg-12">
                <button class="btn-own btn-sm btn btn-default text-center"
                        ng-click="cashbox.recalc()"
                        type="button" ng-model="cashbox.receipt.selfPaid"
                        uib-btn-checkbox>За свой счет</button>
              </div>
              <div class="col-lg-12">
                <div class="btn-group text-center" style="white-space:nowrap">
                  <label class="btn-sm btn btn-default" title="Скидка"
                         type="button" ng-model="cashbox.receipt.discount"
                         ng-disabled="cashbox.receipt.selfPaid"
                         ng-click="cashbox.recalc()" uncheckable
                         uib-btn-radio="0.05">5%</label>
                  <label class="btn-sm btn btn-default" title="Скидка"
                         type="button" ng-model="cashbox.receipt.discount"
                         ng-disabled="cashbox.receipt.selfPaid"
                         ng-click="cashbox.recalc()" uncheckable
                         uib-btn-radio="0.07">7%</label>
                  <label class="btn-sm btn btn-default" title="Скидка"
                         type="button" ng-model="cashbox.receipt.discount"
                         ng-disabled="cashbox.receipt.selfPaid"
                         ng-click="cashbox.recalc()" uncheckable
                         uib-btn-radio="0.1">10%</label>
                  <label class="btn-sm btn btn-default" title="Скидка"
                         type="button" ng-model="cashbox.receipt.discount"
                         ng-disabled="cashbox.receipt.selfPaid"
                         ng-click="cashbox.recalc()" uncheckable
                         uib-btn-radio="0.2">20%</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">Итого</div>
              <div class="col-xs-7">
                <div class="input-group m-b disabled">
                  <input type="text" class="form-control" value="{{cashbox.receipt.total|currency:''}}" disabled>
                  <span class="input-group-addon">р.</span>
                </div>
              </div>
            </div>
            <div class="row" ng-show="cashbox.receipt.type=='cash'">
              <div class="col-xs-5">Наличные</div>
              <div class="col-xs-7">
                <div class="input-group m-b">
                  <input id="nal" type="number"
                         class="form-control"
                         step="0.01" min="0"
                         ng-model="cashbox.receipt.cash"
                         ng-change="cashbox.recalc()">
                  <span class="input-group-addon">р.</span>
                </div>
              </div>
            </div>

            <div class="row" ng-show="cashbox.receipt.type=='cash'">
              <div class="col-xs-5">Сдача</div>
              <div class="col-xs-7">
                <div class="input-group m-b disabled">
                  <span class="form-control" disabled
                        >{{cashbox.receipt.change}}</span>
                  <span class="input-group-addon">р.</span>
                </div>
              </div>
            </div>
            <button class="btn-lg btn btn-danger btn-block" type="button"
                    ng-click="cashbox.checkout()">Оплатить счет</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-info last-checkout">
          <div class="box-header with-border">
            <h3 class="box-title">Последние чеки</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>Номер чека</th>
                    <th>Заказ</th>
                    <th>Оплата</th>
                    <th>Сумма</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="receipt in cashbox.receipts">
                    <td><a>OR9842</a></td>
                    <td>
                      <span ng-repeat="item in receipt.items track by $index"
                            >{{item.name}}
                        <span ng-if="(item.quantity > 1)"> (x{{item.quantity}})</span>
                        <span ng-if="!$last">, </span>
                      </span>
                    </td>
                    <td>
                      <span class="label label-success"
                            ng-if="receipt.type=='card'">Безнал.</span>
                      <span class="label label-info"
                            ng-if="receipt.type=='cash'">Наличными</span>
                      <span class="label label-danger"
                            ng-if="receipt.type=='free'">Подарочный</span>
                    </td>
                    <td>{{receipt.total | currency:''}} руб.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Посмотреть все</a>
          </div>
          <!-- /.box-footer -->
        </div>
      </div>

</div>
<!-- END row-->
</div>
