{
  "extends": ["eslint:recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true,
    "node": true
  },
  globals: {},
  "rules": {
    "no-console": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
        "impliedStrict": true
    }
  }
}
