<section class="content-header">
  <h1>Недостаток товаров на складе</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="box list-goods-box">
        <table class="table table-bordered table-hover">
          <tr>
            <th>Название</th>
            <th>Остаток</th>
            <th>Требуется</th>
            <th>Недостаток</th>
          </tr>
          <tr ng-repeat="product in vm.products">
            <td>
              {{::product.name}}
            </td>
            <td>
              {{product.stock[0].quantity}}
            </td>
            <td>
              {{product.standardQuantity}}
            </td>
            <td>
              {{product.shortage}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
