<div class="hold-transition skin-green sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <a ui-sref="admin.dashboard" class="logo">
        <span class="logo-mini"><b>К</b>и<b>К</b></span>
        <span class="logo-lg"><b>Кофе</b> и <b>Книги</b></span>
      </a>

      <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Меню</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown messages-menu">
              <a ui-sref="barista.cashbox.defaultMenu">
                <i class="fa fa-beer"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <aside class="main-sidebar">

      <section class="sidebar">
        <ul class="sidebar-menu">
          <li class="header">Основное</li>

          <li ui-sref-active="active">
            <a ui-sref="admin.dashboard">
              <i class="fa fa-home"></i> <span>Главная</span>
            </a>
          </li>

          <li ui-sref-active="active">
            <a ui-sref="admin.users">
              <i class="fa fa-users"></i> <span>Пользователи</span>
            </a>
          </li>

          <li class="treeview" menu-collapse>
            <a collapse-toggle>
              <i class="fa fa-cubes"></i> <span>Склад</span>
              <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="treeview-menu" collapse-body>
              <li ui-sref-active="active">
                <a ui-sref="admin.stores">
                  <i class="fa fa-cubes"></i> <span>Остатки</span>
                </a>
              </li>

              <li ui-sref-active="active">
                <a ui-sref="admin.products">
                  <i class="fa fa-cubes"></i> <span>Товары</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="treeview" menu-collapse>
            <a collapse-toggle>
              <i class="fa fa-list"></i> <span>Меню</span>
              <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="treeview-menu" collapse-body>
              <li ui-sref-active="active">
                <a ui-sref="admin.categories">
                  <i class="fa fa-list"></i> <span>Категории</span>
                </a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="admin.menuItems">
                  <i class="fa fa-list"></i> <span>Товары</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </aside>

    <div class="content-wrapper">
      <ui-view>
    </div>
    <footer class="main-footer">
    </footer>
  </div>
</div>
