<section class="content-header ">
  <h1>
    Товары меню
  </h1>
</section>
<section class="content menu">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="vm.openCreateForm()" ng-hide="vm.createFormOpened">Добавить</button>
    </div>
  </div>

  <form ng-submit="vm.createEntity()" name="vm.createForm" novalidate>
    <!-- форма для простого товара -->
    <div class="row" ng-hide="vm.newEntity.isComposite">
      <div class="col-md-6">
        <div class="box" ng-show="vm.createFormOpened">
          <div class="box-body">

            <a ng-click="vm.createFormOpened=false">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <div class="form-group">
              <label>
                <input type="checkbox" ng-model="vm.newEntity.isComposite">
                Составной
              </label>
              <!-- <label> -->
              <!--   <input type="checkbox" ng-model="vm.newEntity.hasDiscount"> -->
              <!--   Со скидкой -->
              <!-- </label> -->
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <label>Категория</label>
                  <input type="text" class="form-control" required
                         ng-model="vm.newEntity.category"
                         uib-typeahead="category as category.name for
                                        category in vm.categories | filter:$viewValue"
                         typeahead-editable="false"
                         typeahead-min-length="0"
                         typeahead-on-select="vm.updateProductName()">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group" ng-hide="vm.newEntity.isComposite">
                  <label>Название</label>
                  <input type="text"
                         ng-model="vm.newEntity.products[0]" typeahead-editable="false"
                         uib-typeahead="product as product.name for product in vm.searchSimpleProducts($viewValue)"
                    typeahead-min-length="0"
                    class="form-control" typeahead-on-select="vm.updateProductName()" required>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           ng-model="vm.searchIncludeIngridients">
                    Искать ингридиенты
                  </label>
                </div>
              </div>

              <div class="col-md-5">
                <div class="form-group">
                  <label>Цена</label>
                  <input class="form-control" type="number"
                         step="0.01" min="0" ng-model="vm.newEntity.price">
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Добавить</button>
          </div>
        </div>
      </div>
    </div>

    <!-- форма для составного товара -->
    <div class="row" ng-show="vm.newEntity.isComposite">
      <div class="col-md-6">
        <div class="box" ng-show="vm.createFormOpened">
          <div class="box-body">
            <a ng-click="vm.createFormOpened=false">
              <i class="fa fa-times " aria-hidden="true"></i>
            </a>
            <div class="form-group">
              <label>
                <input type="checkbox" ng-model="vm.newEntity.isComposite">
                Составной
              </label>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <label>Категория</label>
                  <input type="text" class="form-control" required
                         ng-model="vm.newEntity.category"
                         uib-typeahead="category as category.name for
                                        category in vm.categories | filter:$viewValue"
                         typeahead-editable="false"
                         typeahead-min-length="0"
                         typeahead-on-select="vm.updateProductName()">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <label>Название</label>
                  <input class="form-control" type="text" ng-model="vm.newEntity.name" required>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>Цена</label>
                  <input class="form-control" type="number"
                         step="0.01" min="0" ng-model="vm.newEntity.price">
                </div>
              </div>
            </div>

            <!-- список ингридиентов в новом товаре -->
            <div class="row" ng-repeat="product in vm.newEntity.products">
              <div class="col-md-7">
                <div class="form-group">
                  <label>Ингридиент</label>
                  <input type="text" ng-model="vm.newEntity.products[$index]" typeahead-editable="false"
                    uib-typeahead="product as product.name for product in vm.searchIngridientProducts($viewValue)"
                    typeahead-min-length="0"
                    class="form-control" required>
<!--                   <i ng-show="loadingProducts" class="glyphicon glyphicon-refresh"></i>
                  <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> Товар не найден
                  </div> -->
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Количество</label>
                  <div class="input-group">
                    <input class="form-control" type="number"
                           step="0.01" min="0"
                           ng-model="vm.newEntity.products[$index].quantity">
                    <span class="input-group-addon">{{product.unit}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
                <button type="button"
                        class="btn btn-sm btn-danger remove-ingridient"
                        ng-click="vm.removeIngridient(product)">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
              </div>
            </div>

            <!-- добавление нового ингридиента -->
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <label>Ингридиент</label>
                  <input type="text" ng-model="vm.newIngridient" typeahead-editable="false"
                    uib-typeahead="product as product.name for product in vm.searchIngridientProducts($viewValue)"
                    typeahead-loading="loadingProducts" typeahead-no-results="noResults"
                    typeahead-min-length="0"
                    class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Количество</label>
                  <div class="input-group">
                    <input class="form-control" type="number"
                           step="0.01" min="0"
                           ng-model="vm.newIngridient.quantity">
                    <span class="input-group-addon">{{vm.newIngridient.unit}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-sm add-ingridient" ng-click="vm.addIngridient()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-xs-12">
      <div class="box  list-goods-box">
        <table ng-table="vm.tableParams" class="table table-bordered table-hover">
          <colgroup>
            <col width="30%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="10%">
          </colgroup>
          <tr ng-repeat="menuItem in $data">
            <td data-title="'Название'" >
              <div class="menu-product-name">
                <button class="btn btn-xs btn-primary dropdown" ng-if="menuItem.isComposite" ng-click='menuItem.show =
                !menuItem.show'>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <editable-text ng-model="menuItem.name"  change="vm.updateEntity(menuItem)" required>
              </div>
              <ul class="menu-ingridients-list form-inline"
                  ng-class="{show: menuItem.show}">
                <!-- редактирование добавленных ингридиентов -->
                <li ng-repeat="product in menuItem.products">
                  <button class="btn btn-xs btn-danger"
                          ng-click="vm.removeIngridientExisting(menuItem,product)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <button type="button"
                          class="btn btn-xs btn-success"
                          ng-click="vm.updateIngridientExistsing(menuItem,product)">
                     <span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <input type="text"
                         ng-model="menuItem.products[$index]"
                         typeahead-editable="false"
                         typeahead-min-length="0"
                         uib-typeahead="product as product.name for product in vm.searchIngridientProducts($viewValue)"
                         class="form-control input-sm" required>
                  <div class="input-group">
                    <input type="number" class="form-control input-sm"
                           step="0.01" min="0"
                           ng-model="menuItem.products[$index].MenuItemProduct.quantity" />
                    <span class="input-group-addon">{{product.unit}}</span>
                  </div>
                </li>

                <!-- новый ингридиент -->
                <li>
                  <form ng-submit="vm.addIngridientExisting(menuItem,
                         newIngridient)">
                    <button class="btn btn-xs btn-success" type="submit">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <input type="text"
                           ng-model="newIngridient"
                           typeahead-editable="false"
                           typeahead-min-length="0"
                           uib-typeahead="product as product.name for product in vm.searchIngridientProducts($viewValue,menuItem.products)"
                           class="form-control input-sm" required>
                    <div class="input-group">
                      <input type="number" step="0.01" min="0"
                             class="form-control input-sm"
                             ng-model="newIngridient.MenuItemProduct.quantity"/>
                      <span class="input-group-addon">{{newIngridient.unit}}</span>
                    </div>
                  </form>
                </li>
              </div>
            </td>
            <td data-title="'Категория'">
              <input type="text" class="form-control input-sm" required
                     ng-model="menuItem.category"
                     uib-typeahead="product as product.name for
                     product in vm.categories | filter:$viewValue"
                     typeahead-editable="false"
                     typeahead-min-length="0"
                     typeahead-on-select="vm.updateEntity(menuItem)">
            </td>
            <td data-title="'Цена'">
              <editable-text ng-model="menuItem.price" change="vm.updateEntity(menuItem)" required>
            </td>
            <td data-title="'Составной'">
              <input type="checkbox" ng-model="menuItem.isComposite" disabled>
            </td>
            <td data-title="'Себестоимость, руб.'">
              {{menuItem.costPrice || 0 | currency:''}}
            </td>
            <td data-title="'Наценка'">
              {{(menuItem.price / menuItem.costPrice * 100).toFixed() - 100}}%
            </td>
            <td>
              <button class="btn btn-xs btn-danger" ng-click="vm.removeEntity(menuItem)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
