<section class="content-header">
  <h1>Смены</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="box search-box">
        <div style="display:inline-block; min-height:290px;">
          <div uib-datepicker ng-model="vm.filters.$gt"
               ng-change="vm.tableParams.reload()"
               class="well well-sm"></div>
        </div>
        <div style="display:inline-block; min-height:290px;">
          <div uib-datepicker ng-model="vm.filters.$lt"
               ng-change="vm.tableParams.reload()"
               class="well well-sm"></div>
        </div>

        <div class="form form-horizontal">
          <div class="form-group">
            <div class="col-xs-2">
              <label>Бариста</label>
            </div>
            <div class="col-xs-9">
              <select class="form-control"
                      ng-model="vm.filters.userId"
                      ng-change="vm.tableParams.reload()"
                      ng-options="user.id as user.name for user in
                      vm.users">
              </select>
            </div>
            <div>
              <button class="btn btn-sm btn-danger"
                      ng-click="vm.resetUser()">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 list-goods-box">
      <div class="box">
        <table class="table table-bordered table-hover"
               ng-table="vm.tableParams">
          <tr ng-repeat="shift in $data">
            <td data-title="'id'">{{shift.id}}</td>
            <td data-title="'Открыта'">{{shift.createdAt | date:'dd.MM.yyyy HH:mm'}}</td>
            <td data-title="'Закрыта'">{{shift.closedAt | date:'dd.MM.yyyy HH:mm'}}</td>
            <td data-title="'Бариста'">{{shift.user.name}}</td>
            <td data-title="'З/П'">{{shift.salary | currency:''}}</td>
            <td data-title="'З/П (без вычетов)'">{{shift.fullSalary | currency:''}}</td>
            <td data-title="'Касса (пробито)'">{{shift.total | currency:''}}</td>
            <td data-title="'Касса (отчет)'">{{shift.cash | currency:''}}</td>
            <td data-title="'Безнал (отчет)'">{{shift.cashless | currency:''}}</td>
            <td data-title="'Разница с отчетом'"
                ng-class="{danger: shift.difference !== 0}"
                >{{shift.difference | currency:''}}</td>
          </tr>
          <tr>
            <td colspan="4"><strong>Итого</strong></td>
            <td>{{vm.totalSalary | currency:''}}</td>
            <td>{{vm.totalFullSalary | currency:''}}</td>
            <td>{{vm.totalTotal | currency:''}}</td>
            <td>{{vm.totalCash | currency:''}}</td>
            <td>{{vm.totalCashless | currency:''}}</td>
            <td ng-class="{danger: vm.totaldifference !== 0}"
                >{{vm.totalDifference | currency:''}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
