<section class="content-header">
  <h1>Склады</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="box">
        <table class="table table-bordered table-hover">
          <tr ng-repeat="store in vm.stores">
            <td>
              <a class="store-link"
                 ui-sref="admin.stock.remains({storeId: store.id})"
                 >{{store.name}}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
