<section class="content-header">
  <h1>Все поставки на складе {{::vm.store.name}}</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-3" style="margin-bottom:15px;">
      <div class="btn-group text-center" style="white-space:nowrap">
        <label class="btn btn btn-primary" title="Поставки"
               type="button" ng-model="vm.filters.isWriteoff"
               ng-click="vm.tableParams.refresh()" uncheckable
               uib-btn-radio="false">Поставки</label>
        <label class="btn btn btn-primary" title="Скидка"
               type="button" ng-model="vm.filters.isWriteoff"
               ng-click="vm.tableParams.refresh()" uncheckable
               uib-btn-radio="true">Списания</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="box list-goods-box">
        <table ng-table="vm.tableParams" class="table table-bordered table-hover">
          <tr ng-repeat="delivery in $data">
            <td data-title="'Дата'">
              <a class="store-link"
                 ui-sref="admin.deliveries.show({deliveryId: delivery.id})"
                 >{{::delivery.createdAt | date:'dd-MM-yyyy HH:mm'}}</a>
            </td>
            <td>{{::delivery.isWriteoff ? 'Списание' : 'Поставка'}}</td>
        </table>
      </div>
    </div>
  </div>
</section>
