<section class="content-header">
  <h1 ng-if="!vm.delivery.isWriteoff"
    >Доставка на склад {{::vm.store.name}} от {{::vm.delivery.createdAt | date:'dd-MM-yyyy hh:mm'}}</h1>
  <h1 ng-if="vm.delivery.isWriteoff"
    >Списание со склада {{::vm.store.name}} от {{::vm.delivery.createdAt |
  date:'dd-MM-yyyy hh:mm'}}</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="box list-goods-box">
        <table ng-table="vm.tableParams" class="table table-bordered table-hover">
          <tr ng-repeat="product in $data">
            <td data-title="'Товар'" sortable="'name'">
              {{::product.name}}
            </td>
            <td data-title="'Остаток до'">
              {{::product.oldQuantity}} {{::product.unit}}
            </td>
            <td data-title="vm.delivery.isWriteoff ? 'Доставка' : 'Списание'">
              {{::product.quantity}} {{::product.unit}}
            </td>
            <td data-title="'Остаток после'">
              <span>
                {{::product.newQuantity}} {{::product.unit}}
              </span>
            </td>
            <td data-title="'Старая цена, руб'" ng-if='::!vm.delivery.isWriteoff'>
              <span>
                {{::product.oldPrice | currency:''}}
              </span>
            </td>
            <td data-title="'Новая цена, руб'" ng-if='::!vm.delivery.isWriteoff'>
              <span>
                {{::product.newPrice | currency:''}}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
